<div class="page page-center">
  <div class="container-tight py-4">
    <div class="text-center mb-4">
      <a href="/">
        <img src="../../../assets/img/logo.png" height="36" alt="">
      </a>
    </div>
    <form [formGroup]="authForm" (ngSubmit)="signIn()" class="card card-md login-container"  autocomplete>
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Login to your account</h2>
        <div class="mb-3">
          <label class="form-label">Email address</label>
         
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
            <span  *ngIf="isSubmitted && formControls.email.errors" class="help-block">
              <span class="small text-danger" *ngIf="formControls.email.errors.required">Email is required</span>
            </span>    
          </p>

            

        </div>
        <div class="mb-2">
          <label class="form-label">
            Password  
          </label>
         
            <div [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            
              <input type="password" class="form-control" placeholder="Password" formControlName="password" autocomplete="off">
              <span *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                <span class="small text-danger" *ngIf="formControls.password.errors.required">Password is required</span>
              </span>
          </div>
            
           
          
        </div>
        <div class="mb-2">
          <label class="form-check">
            <input type="checkbox" class="form-check-input"/>
            <span class="form-check-label">Remember me on this device</span>
          </label>
        </div>
        <div class="form-footer">
          <button type="submit" class="btn btn-primary w-100">Sign in</button>
        </div>
      </div>
     
    </form>
    
  </div>
</div>
