<div class="wrapper">
  <app-navbar></app-navbar>

  <div class="page-wrapper">

    <!-- heading -->
    <div class="container-xl">
      <!-- Page title -->
      <div class="page-header d-print-none">
        <div class="row align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
              Overview
            </div>
            <h2 class="page-title">
              Discounts
            </h2>
          </div>
         
        </div>
      </div>
    </div>
    <!-- end heading -->


    
  </div>
</div>